.button {
    position: relative;
}
.buttonTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3.5rem;
    background-color: #3300C4;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 1.5rem;
}

.buttonBorder {
    display: absolute;
    border: 2px solid black;
    width: 8rem;
    height: 3.5rem;
    background-color: transparent;
}

