.header {
    height: 100vh;
    overflow: hidden;
    padding: 4rem 8rem 0 8rem;
}

.indiceLogo {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-around;
}

.indiceIcon {
 max-width: 1.45rem;
 margin-right: 1rem;
}

.relative {
    position: relative;
}

.landingImgTop {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-150px);
    z-index: 0;
}

.landingImgBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(150px, 250px);
    z-index: 0;
    width: 550px;
}

.headerText {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    line-height: 3.5rem;
    padding-top: 4rem;
    width: 60%;
    z-index: 10;
}

.line {
    position: absolute;
    transform: translate(-70%, -40%);
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 50%;
}

.homeCta {
    display: flex;
    padding-top: 5rem;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 60%;
}

@media (max-width: 1180px) {
    .header {
        padding: 4rem;
    }
    .landingImgTop {
        display: none;
    }
    .homeCta {
        display: flex;
        padding-top: 5rem;
        padding-left: 0;
        justify-content: space-around;
    }
    .headerText {
        text-align: center;
        width: 100%;
    }
    
}

@media (max-width: 830px) {
    .header {
        padding: 3rem;
    }
    .indiceLogo {
        justify-content: flex-start;
    }
    .headerText {
        font-size: 2.5rem;
        line-height: 2.7rem;
        text-align: left;
    }
    .homeCta {
        justify-content: space-between;
        width: 400px;
    }
}

@media (max-width: 660px) {
    .header {
        padding: 4rem 1rem;
    }
    .headerText {
        font-size: 2.3rem;
        line-height: 2rem;
    }
}

@media (max-width: 480px) {
    .landingImgTop {
        position: absolute;
        display: block;
        bottom: 0;
        width: 400px;
        transform: translateY(-10%);
    }

    .landingImgBottom {
        display: none;
    }
    .indiceLogo h1{
        max-width: 80px;
    }
    .indiceIcon {
        max-width: 3rem;
        margin-right: 10px;
        transform: translateY(40%);
    }
    .headerText {
        padding-top: 6rem;
    }
}