.label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFF878;
    border-radius: 10px;
    background-color: transparent;
    padding: 2px 10px;
    margin-right: 0.5rem;
}

.text {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 0;
    color: #FFF878;
}
