.indiceLogo {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-around;
}

.indiceIcon {
    max-width: 1.45rem;
    margin-right: 1rem;
}


.relative {
    position: relative;
}

@media (max-width: 830px) {
    .indiceLogo {
        justify-content: flex-start;
    }

}

@media (max-width: 480px) {
    .indiceLogo h1{
        max-width: 80px;
    }
    .indiceIcon {
        max-width: 3rem;
        margin-right: 10px;
        transform: translateY(40%);
    }
}