.container {
    background-color: #FFF878;
    width: 100%;
    overflow: hidden;
    padding: 7rem 0;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    line-height: 3.4rem;
    margin-bottom: 4rem;
    font-weight: 400;
    text-align: center;
}
.slider {
    display: flex;
}
